@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/estilo.css" rel="stylesheet" />

    <title>Loja Games</title>
</head>
<body>
    <!--Banner Inicio-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/img/banner-01.jpg" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/banner-02.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/banner-03.jpg" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <!--Banner final-->

    <div class="row titulo-destaque">Destaques da Semana</div>
    <hr />

    <!--Ps5 Oferta-->
    <div class="limitador">
        <form class="navbar-brand" asp-area="" asp-page="Detalhes">

            <input type=image src="~/img/p1h.png" class="d-none d-md-block img-100" />
            Clique para ver detalhes

        </form>
        <!--Ps5 Oferta fim-->



        <div class="row">

            <!--Ofertas-->
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    The Last Of Us II (Special Edition)<br />
                    R$ 299,90
                </div>

                <div>
                    <img src="~/img/destaque1.png" class="img-fluid img-100" />
                </div>
            </div>

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    Assassin's Creed Valhalla (Edição de Colecionador)<br />
                    R$ 889,90
                </div>

                <div>
                    <img src="~/img/destaque2.png" class="img-fluid img-100" />
                </div>
            </div>

        </div>    
        <div class="titulo-destaque">Jogos mais vendidos da semana</div>

        <!-- Carrossel de jogos -->
        <div id="carrossel-breve-d" class="carousel slide d-none d-md-block" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/Jogo/jogo-01.png" class="games">
                    <img src="~/img/Jogo/jogo-02.png" class="games">
                    <img src="~/img/Jogo/jogo-03.png" class="games">
                    <img src="~/img/Jogo/jogo-04.png" class="games">
                    <img src="~/img/Jogo/jogo-05.png" class="games">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Jogo/jogo-06.png" class="games">
                    <img src="~/img/Jogo/jogo-07.png" class="games">
                    <img src="~/img/Jogo/jogo-08.png" class="games">
                    <img src="~/img/Jogo/jogo-09.png" class="games">
                    <img src="~/img/Jogo/jogo-10.png" class="games">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carrossel-breve-d" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carrossel-breve-d" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Fim Carrossel de jogos -->

    </div>
    <!--Ofertas Final-->


    <!--Ofertas 2-->
    <div class="limitador">

        <div class="row">
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    Nintendo Switch<br />
                    R$ 3.140,00
                </div>

                <div>
                    <img src="~/img/destaque3.png" class="img-fluid img-100" />
                </div>
            </div>

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    Playstation 4<br />
                    R$ 2.677,90
                </div>

                <div>
                    <img src="~/img/destaque4.png" class="img-fluid img-100" />
                </div>
            </div>

        </div>

        <!--Ofertas 2 Final-->
        <!--Ofertas 3-->

        <div class="row">
            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    Pré-Venda Cyberpunk 2077<br />
                    R$ 249,99
                </div>

                <div>
                    <img src="~/img/destaque5.png" class="img-fluid img-100" />
                </div>
            </div>

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    Controle Playstation 5 (preto)<br />
                    R$ 469,00
                </div>

                <div>
                    <img src="~/img/destaque6.png" class="img-fluid img-100" />
                </div>
            </div>

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    New Nintendo 3ds XL<br />
                    R$ 2.450,00
                </div>

                <div>
                    <img src="~/img/destaque7.png" class="img-fluid img-100" />
                </div>
            </div>

            <div class="col col-md-6 col-sm-12 col-12">
                <div class="titulo-destaque">
                    Xbox Series S<br />
                    R$ 2,799,00
                </div>

                <div>
                    <img src="~/img/destaque8.png" class="img-fluid img-100" />
                </div>
            </div>
        </div>

    </div>
    <br />
    <!--Ofertas 3 Final-->

</body>
</html>