@page
@model LojaGames.Pages.SorryModel
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/estilo.css" rel="stylesheet" />

    <title>Adicionar Um Produto</title>
</head>
<body>
    <div class="col col-md-12 col-sm-30 col-30">
        <div>
            <img src="~/img/desculpe.png" class="img-fluid img-100" />
        </div>
    </div>
</body>

</html>